.list {
  color: #000;
  width: 100%;
  min-height: 3.75rem;
  padding: 0.625rem;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0.9375rem 0;
  .header {
    display: flex;
    justify-content: space-between;
  }
  .cardFoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.2);
  }
}

.search {
  position: relative;
  // &:active{
  //   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  //   transform: scale(0.95);
  // }

  .input {
    width: 100%;
    max-width: 13.75rem;
    height: 2.1875rem;
    padding: 0.75rem;
    padding-right: 3.9375rem;
    border-radius: 0.75rem;
    border: 0.0938rem solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0 0 1.25rem -1.125rem;
    background-color: #f5f5f5;
    color: #000;
    box-sizing: border-box;
  }

  .input:active {
    transform: scale(0.95);
    & + .searchIcon {
      transform: scale(0.95);
    }
  }

  .input:focus {
    border: 0.125rem solid grey;
    & + .searchIcon {
      border-top: 0.125rem solid grey;
      border-right: 0.125rem solid grey;
      border-bottom: 0.125rem solid grey;
    }
  }

  .clearIcon {
    position: absolute;
    right: 2.875rem;
    top: 0.625rem;
    color: #bfbfbf;
    transition: all 0.3s;
    &:hover {
      color: #8c8c8c;
      cursor: pointer;
    }
    &:active {
      transform: scale(0.65);
    }
  }

  .searchIcon {
    position: absolute;
    height: 2.1875rem;
    right: 0;
    border-radius: 0.75rem;
    margin-top: 0;
    background-color: #f5f5f5;
    border: 0.0938rem solid lightgrey;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    // 左上角和左下角去掉圆角
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;

  }
}
